
$container-width: 1440px;
$off-black: #34344A;
$off-white: #efefef;
$pink: #E9204F;
$blue: #19C8C5;
$transition: all .2s ease;

$primary: $pink;
$text-color: $off-black;
$secondary: $off-black;

$twitch-purple: #9146FF;